html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
}

header {
    border-bottom: 1px solid seashell;
    background-color: black;
    border: 1px solid red;
    display: inline-block;
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0px;
}

section {
    border: 1px solid red;
}

/*Nav Section*/

.logo-tea figure {
display: flex;
align-items: center;

}
.logo {
    float: left;
    height: 50px;
    opacity: .7;
    padding-left: 10px
}

.cc {
    margin-left: 30px;
    padding-top: 15px;
    padding-right: 23px;
}
nav ul {
    margin: 0;
    list-style: none;
    color: #b3b9c4;
}



.cc li {
    margin: 10px;
    border: 1px solid red;
    color: #b3b9c4;
}

#dd {
    float: right;
}



/*Background image*/

.background-image {
    height: 700px;
    margin: 0px 20px;
    text-align: center;
    border: 1px solid orange;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-size: cover;
    
}

.zz{
    background-color: black;
    color: #b3b9c4;
    display: flex;
    width: 1000px;
}

.item-mission {
    text-align: center;
    background: black;
}

.tea-container {
    margin-top: 70px;
}

/*The tea cozy*/

.item-tea-month {
    text-align: center;
}

figure .cozy-tea {
    display: flex;
}

.cozy-tea img {
    height: 200px;
    width: 300px;
    margin: 10px;
    justify-items: stretch;
}

.image-container {
    display: flex;
    border: 1px solid red;
}

.tea-container {
    border: 1px solid red;
}
















